!!!
html
  head
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css", rel="stylesheet")
    title
      block title
  body
    .container
      .row
        .span12
          .page-header
            h1 Node Framework (DFM)
          block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js ")
    script(src="//raw.github.com/rails/jquery-ujs/master/src/rails.js")