extends layouts/application
block title
  | Something else
block content
  p hello these are posts yo!
  p #{new Date()}
  a.btn(data-method="post", href="/posts") Post
  a.btn(data-method="put", href="/posts") Put
  a.btn(data-method="delete", href="/posts") Delete